.events {
    padding-top: 140px 0 100px;
    &__listing {
        margin-top: 200px;
        margin-bottom: 100px;
    }
    
    &__services {
        .container;
        margin-bottom: 50px;
    }

    &__services-desription {
        max-width: 870px;
        margin: 0 470px 60px 0;
        font-size: 16px;
        line-height: 22px;
    }
    
    &__title {
        align-self: center;
    }

    &__show-more {
        margin-top: 70px;
        text-align: center;
    }
}