.svg-contacts {
    display: flex;
    justify-content: center;
    gap: 44px;
    margin-top: 60px;

    @media @bw1340 {
        margin-top: 62px;

    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 58px;
        width: 58px;
        border-radius: 29px;
        background-color: @black;
        color: @red;
    }
}